

:host {

  .wrapper {
    max-height: 100vh;
  }

  .header {
    max-height: 7vh;
    text-align: center;
  
    div {
      display: inline;
      padding: 0 10px;
    }
  }

  .draggable {
    max-height: 95vh;
    max-width: 85vh;
    height: auto;
    overflow-y: scroll;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    .item {
      width: 1fr;
    }
  }

  .item {
    background: #fafafa;
    border: 1px solid black;
    padding: 10px 20px;
  }

  .its_draggable {
    max-width: 85vh;
    color: red;
    text-align: right;
    font-size: 12px;
    max-height: 5vh;
    margin-left: auto;
    margin-right: auto;
    padding-top: 7px;
  }
}

@media only screen and (max-width: 600px) {
  :host {
    .header {
      height: 30px;
    }

    .draggable {
      max-height: 90vh;
    }
  } 
}

@media (max-height: 400px) and (orientation: landscape) {
  :host {
    .draggable {
      width: 100%;
      max-width: 100%;
    }
    .its_draggable {
      max-width: 100%;
    }
  }
}