<div class="parent">
  <div class="wrapper">
    <div class="header">
      <div class="id">{{ formId }}</div>
      <div class="changedBy">{{ lastChangedBy }}</div>
      <div class="changedDate">{{ lastChangedDate }}</div>
    </div>
    <div class=draggable dragula="draggable" ng-model="items">
      <div *ngFor="let item of items" class="item">{{ '☰ ' + item.id + ' | ' + item.caption + ' | ' + item.type + ' 👾'}}</div>
      <div *ngFor="let item of items" class="item">{{ '☰ ' + item.id + ' | ' + item.caption + ' | ' + item.type + ' 👾'}}</div>
      <div *ngFor="let item of items" class="item">{{ '☰ ' + item.id + ' | ' + item.caption + ' | ' + item.type + ' 👾'}}</div>
      <div *ngFor="let item of items" class="item">{{ '☰ ' + item.id + ' | ' + item.caption + ' | ' + item.type + ' 👾'}}</div>
      <div *ngFor="let item of items" class="item">{{ '☰ ' + item.id + ' | ' + item.caption + ' | ' + item.type + ' 👾'}}</div>
      <div *ngFor="let item of items" class="item">{{ '☰ ' + item.id + ' | ' + item.caption + ' | ' + item.type + ' 👾'}}</div>
    </div>
  </div>
</div>

